<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/main.min.js"></script>
  <script chatbot_id="6620db2dde66b9a82e9ff3f9" src="https://app.thinkstack.ai/bot/thinkstackai-loader.min.js"></script>
  <link rel="stylesheet" href="/main.css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon-16x16.png" type="image/png" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png" />
  <title>Acode - Code editor for android</title>

  <!-- og meta tags -->
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:image" content="https://acode.app/{{icon}}" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="200" />
  <meta property="og:image:alt" content="{{icon_alt}}" />
  <meta property="og:url" content="https://acode.app/{{path}}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{site_name}}" />
  <meta property="og:locale" content="en_US" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YX6J9WVCDP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-YX6J9WVCDP');
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5911839694379275"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
</head>

<body>
  <noscript>Please enable javascript to view this page.</noscript>
  <div id="app"></div>
</body>

</html>